<div class="titleArea">
  <div class="control">
    <i class="material-icons md-20 md-theme-color" (click)="lockSelectDate()">{{lock}}</i>
    <i class="material-icons md-20 md-theme-color" (click)="openDialog()">settings</i>
  </div>
</div>
<div class="commpareArea">

<!--<div class="display:none;">-->
<!--<input  mdInput [mdDatepicker]="picker" placeholder="Choose a date">-->
<!--</div>-->

<!--<md-datepicker #picker></md-datepicker>-->
<!--<button md-raised-button (click)="picker.open()">Open</button>-->




<!--<md-chip-list>-->
  <!--<md-chip style="background-color: rgb(7,170,195);margin-left: 0px;" *ngFor="let date of selectedDate">-->
    <!--{{date}}-->
    <!--<md-icon *ngIf="selectNowTime!=date" mdChipRemove (click)="removeChips(date)">cancel</md-icon>-->
  <!--</md-chip>-->
<!--</md-chip-list>-->
<svg #svg  [ngBusy]="busy"  width="450px" height="400px" style="margin-top:20px;"></svg>
</div>


