<svg #svg height="450px" width="250px">
  <g transform="translate(125,125)"></g>
</svg>

<svg #svg1 height="100px" width="100px" transform="translate(250,0)">
  <g transform="translate(50,50)"></g>
</svg>

<svg #svg2 height="100px" width="100px" transform="translate(350,0)">
  <g transform="translate(50,50)"></g>
</svg>

<svg #svg3 height="100px" width="100px" transform="translate(250,100)">
  <g transform="translate(50,50)"></g>
</svg>

<svg #svg4 height="100px" width="100px" transform="translate(350,100)">
  <g transform="translate(50,50)"></g>
</svg>

<svg #svg5 height="100px" width="100px" transform="translate(250,200)">
  <g transform="translate(50,50)"></g>
</svg>

<svg #svg6 height="100px" width="100px" transform="translate(350,200)">
  <g transform="translate(50,50)"></g>
</svg>
