/* You can add global styles to this file, and also import other style files */
*{
  margin: 0 0;
  padding: 0 0;
}
body{
  height:1080px;
  width:1920px;
  background: url("assets/img/大屏幕背景图-测试-布局.png");
}


/*detail图的css*/
.surplus-deficit-area {
  fill: black;
  opacity: 0.1;
}

.surplus-deficit-line {
  fill: none;
  stroke: black;
}



/*预测出行的path的css*/
.link_id_1{
  stroke-width: 2px;
  stroke:#ab47bc;
  fill:transparent;
}
.link_id_2{
  stroke-width: 2px;
  stroke:#9575cd;
  fill:transparent;
}
.link_id_3{
  stroke-width: 2px;
  stroke:#26a69a;
  fill:transparent;
}
.link_id_4{
  stroke-width: 2px;
  stroke:#2baf2b;
  fill:transparent;
}
.link_id_5{
  stroke-width: 2px;
  stroke:#d4e157;
  fill:transparent;
}
.link_id_6{
  stroke-width: 2px;
  stroke:#ffa726;
  fill:transparent;
}
/*link_id_123456在鼠标移动时候的class*/
.link_id_mousemove{
  opacity: 0.5;
}
