/* You can add global styles to this file, and also import other style files */
/* fallback */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/static/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  position: relative;
  margin: 0 auto;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  /*direction: ltr;*/
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3);}

.material-icons.md-theme-color { color: rgba(8,187,196,1); }
.material-icons.md-theme-color.md-inactive { color: rgba(8,187,196,0.3);}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: rgba(8,187,196,0.2);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(8,187,196,0.2);
  border-radius: 5px;
  background-color: rgba(8,187,196,0.2);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(8,187,196,0.2);
  background-color: rgba(8,187,196,0.5);
}


*{
  margin: 0 0;
  padding: 0 0;
}
body{
  height:1080px;
  width:1920px;
  /*font-family: 'Material Icons';*/
  /*background: url("assets/img/大屏幕背景图-测试-布局.png") no-repeat;*/
  /*background: url("assets/img/大屏幕背景图-测试-布局-1.jpg") no-repeat;*/
  background: url("assets/img/highway-cars-city-traffic-buildings-black-white.jpg") no-repeat top left scroll;
  background-size:contain;

  /*background-color: ;*/
  /*background: url("assets/img/大屏幕背景图-测试-布局-2.jpg") no-repeat;*/
  font-family:"Microsoft YaHei","simsun","Helvetica Neue";
  /*background-size:cover;*/

  /*background: rgb(7,33,58);*/
  /*background: rgb(8,13,28);*/

}
.plotContainer{
  height: 100%;
  width:100%;
  /*background:rgba(14,15,45,0.9) url("assets/img/大屏幕背景图.png");*/
  background:rgba(14,15,45,0.95) url("assets/img/大屏幕背景图.png");
  background-size:contain;
  /*background:rgba(16,26,57,0.95) url("assets/img/大屏幕背景图.png");*/
}
/*plot的标题*/
.triangle-left {
  float: left;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 12px solid rgba(8,187,196,0.8);
  border-bottom: 15px solid transparent;

}
.rect-right{
  float: left;
  width:170px;
  height:30px;
  background: linear-gradient(90deg,rgba(8,187,196,0.8),rgba(8,187,196,0));
}
.rect-right .plotTitle{
  font-size: 21px;
  font-weight:bold;
  line-height: 30px;
  margin-left: 10px;
  color: white;
}



/*currentTime的线*/
.currentTimeLine{
  stroke-dasharray: 6 4;
  stroke:rgba(233, 30, 99, 1);
  stroke-width: 1px;
  z-index:1000;
}
.currentTimeLineLabel{
  fill:rgba(233, 30, 99, 1);
  font-size: 12px;
}



/*坐标轴*/
.axis{
  color:#fff;
}
.axis .tick line { stroke: #437988; stroke-width: .5px; }
.axis .domain { stroke: #437988; stroke-width: .5px; }
.axis text { fill: #437988;  }
/*compare特殊的坐标轴文字*/
.compareYText{
  fill:#437988;
  font-size: 12px;
}


/*detail图的css*/
.surplus-deficit-area {
  opacity: 0.1;
}

.surplus-deficit-line {
  fill: none;
  stroke: #459e94;
  stroke-width: 1px;
}

/*overview*/
/*移除改变选择框大小的按钮*/
g.brush>.handle {
  display: none;
}

/*map的css*/
.unSelectedRoad{
  opacity:0.2;
}


/*预测出行的path的css*/
/*.link_id_1{*/
  /*stroke-width: 2px;*/
  /*stroke:#ab47bc;*/
  /*fill:transparent;*/
/*}*/
.link_id_1{
  stroke-width: 2px;
  stroke:#039be5;
  fill:transparent;
}
.link_id_2{
  stroke-width: 2px;
  stroke:#9575cd;
  fill:transparent;
}
.link_id_3{
  stroke-width: 2px;
  stroke:#039be5;
  fill:transparent;
}
.link_id_4{
  stroke-width: 2px;
  stroke:#9575cd;
  fill:transparent;
}
.link_id_5{
  stroke-width: 2px;
  stroke:#039be5;
  fill:transparent;
}
.link_id_6{
  stroke-width: 2px;
  stroke:#9575cd;
  fill:transparent;
}
/*link_id_123456在鼠标移动时候的class*/
.link_id_mousemove{
  opacity: 0.2;
}
